.footer{
    display:flex;
    flex-direction:column;
    padding:1.4em;
    background-color:#353535;
    &__title{
        color:#fff;
        font-family:Shrikhand;
        font-size:1.2rem;
        margin:0 0 1rem;
    }
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__logo{
        color: #fff;
        font-family: Shrikhand,"cursive";
        font-size: 1.2rem;
        margin: 0 0 1rem;

    }
}
.chip{
    margin: 0.8rem 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    :hover{
        text-decoration: underline;
    }
    .chip__fas{
        width: 1.2rem;
        margin-right: 0.5rem;
    }
}
.chip:first-child{
    margin-top:0;
}
.chip:last-child{
    margin-bottom: 0;
}
.footer-link{
    color: #fff;
    text-decoration: none;
}

